
div(class='header')
    h3
        ul
            li(class='item') 
                a(href='/') HOME 
            li(class='item') 
                a(href='/admin') ADMIN
            li(class='item') 
                a(href='/shop') SHOP

hr