mixin header()
    header
        nav.nav.nav-bar.offset-md-2
            ul.nav.nav-tabs
                li.nav-item
                    a(href="/home").nav-link.text-decoration-none Home
                li.nav-item
                    a(href="/admin/add-product").nav-link.text-decoration-none Add Product
                li.nav-item
                    a(href="/shop").nav-link.text-decoration-none Shop
                li.nav-item
                    a(href="/admin/product/data").nav-link.text-decoration-none All Products