<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        - var cssPath = path === '/shop'
        
            link(rel="stylesheet", 
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", 
                crossorigin="anonymous")
        
            link(rel="stylesheet", href="/css/shop.css")
        title #{title}
    body
        header
            nav.nav.nav-bar.offset-md-2
                ul.nav.nav-tabs
                    li.nav-item
                        a(href="/home", class=(path === "/home" ? "active": "")).nav-link.text-decoration-none Home
                    li.nav-item
                        a(href="/admin/add-product", class=(path === "/admin/add-product" ? "active": "")).nav-link.text-decoration-none Add Product
                    li.nav-item
                        a(href="/shop", class=(path === "/shop" ? "active": "")).nav-link.text-decoration-none Shop
                    li.nav-item
                        a(href="/admin/product/data", class=(path === "/admin/product/data" ? "active": "")).nav-link.text-decoration-none All Products               
                    li.nav-item
                        a(href="/shop/cart", class=(path === "/shop/cart" ? "active": "")).nav-link.text-decoration-none Cart               
        block content